
@media (max-width: 1233px) {
    .container3 .cards {
        justify-content: center;
        padding-bottom: 190px;
    }
    .container3 .content_cont3 .cards .content_card:nth-child(2) {
        margin-right: 15px;
    }
    .container3 .content_cont3 .cards .content_card:first-child {
        margin-left: 15px;
    }
    .container3 .content_cont3 .cards .content_card:last-child {
        padding-top: 140px;
    }

}

@media (max-width: 1176px) {
    .container5 .content_cont5 .text_cont5 h2 {
        padding-top: 100px;
    }
}

@media (max-width: 1133px) {
    .container4 .cards_cont4 {
        justify-content: center;
    }
    .container2 .content_cont2 .text_cont2 {
        margin-top: 110px;
        width: 50%; 
        margin-right: 65px;
    }
}

@media (max-width: 1024px) {
    .container1 .header .menu,
    .container1 .header .head_right {
        display: none;
    }
    .container2 .content_cont2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container2 .content_cont2 .text_cont2 {
        margin-top: 60px;
        margin-right: 0;
        width: 100%;
    }
    .container2 .content_cont2 .img_cont2 {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .container3 .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container3 .content_cont3 .cards .content_card {
        margin-right: 0px;
        margin-bottom: 150px;
    }
    .container3 .cards {
        grid-column-gap: 30px;
        padding-bottom: 63px;
    }    
    .container3 .content_cont3 .cards .content_card:first-child {
        margin-left: 0;
    }
    .container3 .content_cont3 .cards .content_card:nth-child(2) {
        margin-right: 0;
    }
    .container3 .content_cont3 .cards .content_card:last-child {
        padding-top: 0;
    }
    .container5 .content_cont5 .text_cont5 {
        width: 100%;
        margin-right: 0;
    }
    .container5 .content_cont5 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container5 .content_cont5 .text_cont5 h2 {
        padding-top: 40px;
    }
    .container5 .content_cont5 .text_cont5 .icon_shop {
        padding-bottom: 20px;
    }
    .container5 .content_cont5 .carousel {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
    }
    .container6 {
        flex-direction: column;
    }
    .container6 .text_content_cont6 {
        width: 100%;
    }
    .container6 .text_content_cont6 p {
        padding-right: 0;
        margin-right: 0;
    }
    .container6 .text_content_cont6 h2 {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .container6 .input_cont6 {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media (max-width: 730px) {
    .container7 .content_cont7 {
        justify-content: flex-start;
        padding-bottom: 100px;
    }
    .container7 .content_cont7 .address {
        width: 50%;
    }
    .container7 .content_cont7 .services {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .container7 .content_cont7 .get_in_touch {
        width: 50%;
    }
    .container7 .content_cont7 .we_support {
        width: 50%;
        padding-left: 0;
    }
    .container7 .content_cont7 .address address {
        padding-bottom: 100px;
    }
}

@media (max-width: 678px) {
    .container1 .text_cont1 h1 {
        font-size: 65px;
    }
    .container1 .text_cont1 p {
        font-size: 20px;
        width: 427px;
        margin-left: calc(50% - 213px);
    }
}

@media (max-width: 576px) {
    .container1 .text_cont1 h1 {
        font-size: 54px;
    }
    .container1 .text_cont1 p {
        font-size: 16px;
        width: 370px;
        margin-left: calc(50% - 185px);
    }
}

@media (max-width: 480px) {

    /* МЕТКА, ТАК ОСТАВЛЯТЬ? */
    .container6 .input_cont6 .name {
        flex-direction: column;
        justify-content: flex-start;
    }
    .container6 .input_cont6 .input_firstName,
    .container6 .input_cont6 .input_lastName {
        width: calc(100% - 62px);
    }
    .container6 .input_cont6 .input_lastName {
        margin-left: 0;
    }
    /* МЕТКА, ТАК ОСТАВЛЯТЬ? */

    .container7 .content_cont7 {
        flex-direction: column;
    }
    .container7 .content_cont7 .address address {
        padding-bottom: 33px;
    }
    .container7 .content_cont7 .services .menu {
        padding-bottom: 33px;
    }
    .container7 .content_cont7 .get_in_touch {
        padding-bottom: 33px;
    }
    .container7 .content_cont7 .address,
    .container7 .content_cont7 .services,
    .container7 .content_cont7 .get_in_touch,
    .container7 .content_cont7 .we_support {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container1 .text_cont1 h1 {
        font-size: 38px;
    }
    .container1 .text_cont1 p {
        font-size: 12px;
        width: 280px;
        margin-left: calc(50% - 140px);
    }
}

@media (max-width: 400px) {
    .container3 .content_cont3 .cards .content_card .wrapper_text_card {
        width: 234px;
        margin-left: calc(50% - 117px);
    }
    .container3 .content_cont3 .cards .content_card .wrapper_text_card .text_card {
        padding-top: 33px;
        padding-left: 10px;
        padding-right: 10px;
    }
}