* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /* отступы поля ввода */
    list-style-type: none;
}

body {
    font-family: "Lato", sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
}

/* Старт container1 */

.container1 {
    background-image: url(../img/cont1/background_cont1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    min-height: 766px;
}

.container1 .header {
    height: 100px;
    padding-top: 17px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.container1 .header .logo {
    display: flex;
    align-items: center;
}

.container1 .header .logo i {
    font-size: 19px;
}

.container1 .header .logo h3 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 7px;
}

.container1 .header .menu {
    width: 445px;
}

.container1 .header .menu ul {
    display: flex;
    justify-content: space-between;
}

.container1 .header .menu ul li {
    cursor: pointer;
}

.container1 .header .menu ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.container1 .header .menu ul li a:hover,
.container1 .header .menu ul li a:focus,
.container1 .header .menu ul li a:active {
    color: #ffb9b9;
}

.container1 .header .head_right {
    display: flex;
    align-items: center;
}

.container1 .header .head_right .language {
    display: flex;
    align-items: center;
    width: 96px;
    justify-content: space-between;
}

.container1
    .header
    .head_right
    .language
    .style_select_language
    .select_language {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    -webkit-appearance: none;
    width: 55px;
    font-weight: 400;
    color: #ffffff;
}

.container1 .header .head_right .language .style_select_language {
    height: 34px;
    background: url(../img/cont1/arrow_select_language.png) no-repeat right;
    width: 55px;
}

/* .container1
    .header
    .head_right
    .language
    .style_select_language
    .select_language:hover,
.container1
    .header
    .head_right
    .language
    .style_select_language
    .select_language:focus,
.container1
    .header
    .head_right
    .language
    .style_select_language
    .select_language:active {
    cursor: pointer;
    border: 1px #b4b4b4 solid;
} */

.container1 .header .head_right .language img {
    max-width: 100%;
}

.container1 .header .head_right .btn_login {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 29px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 20px;
    background: transparent;
    cursor: pointer;
}

.container1 .header .head_right .btn_login:hover,
.container1 .header .head_right .btn_login:focus {
    color: #ffb9b9;
    border-color: #ffb9b9;
}

/* Работа с бургер меню */

.container1 .burger {
    display: none;
}

.container1 .menu_background {
    display: none;
    position: absolute;
    background-color: rgba(237, 76, 92, 0.9);
    width: 100%;
    height: 100vh;
    max-height: 766px;
    left: 0;
    top: 0;
}

.container1 .menu_background .menu {
    margin-top: 117px;
}

.container1 .menu_background .menu ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    grid-row-gap: 5px;
}

.container1 .menu_background .menu ul li {
    padding: 5px 0;
    text-align: end;
}

.container1 .menu_background .menu ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.container1 .menu_background .menu ul li a:hover,
.container1 .menu_background .menu ul li a:focus,
.container1 .menu_background .menu ul li a:active {
    color: #ffb9b9;
}

.container1 .menu_background .head_right {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-left: 5%;
    margin-top: 5px;
    margin-right: 5%;
}

.container1 .menu_background .head_right .language {
    display: flex;
    align-items: center;
    width: 96px;
    justify-content: space-between;
    margin-top: 10px;
}

.container1
    .menu_background
    .head_right
    .language
    .style_select_language
    .select_language {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 14px;
    -webkit-appearance: none;
    width: 55px;
    font-weight: 400;
    color: #ffffff;
}

.container1 .menu_background .head_right .language .style_select_language {
    height: 34px;
    background: url(../img/cont1/arrow_select_language.png) no-repeat right;
    width: 55px;
}

.container1 .menu_background .head_right .btn_login {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 29px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5px;
    background: transparent;
    cursor: pointer;
}

.container1 .menu_background .head_right .btn_login:hover,
.container1 .menu_background .head_right .btn_login:focus {
    color: #ffb9b9;
    border-color: #ffb9b9;
}

/* Работа с бургер меню */

.container1 .text_cont1 h1 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 140px;
    color: #ffffff;
}

.container1 .text_cont1 p {
    font-size: 24px;
    color: #ffffff;
    width: 540px;
    text-align: center;
    margin-left: calc(50% - 270px);
    margin-top: 39px;
    line-height: 36px;
}

.container1 .text_cont1 .btn_sign_up {
    padding: 17px 51px;
    font-size: 14px;
    width: 160px;
    color: #ed4c5c;
    border-radius: 6px;
    background-color: #ffffff;
    text-transform: uppercase;
    margin-top: 39px;
    margin-left: calc(50% - 81px);
    margin-bottom: 187px;
    cursor: pointer;
}

.container1 .text_cont1 .btn_sign_up_ru
{
    padding: 17px 27px;
}

.container1 .text_cont1 .btn_sign_up:hover,
.container1 .text_cont1 .btn_sign_up:focus {
    background-color: #ffb9b9;
}

/* Старт container2 */

.container2 .content_cont2 {
    display: flex;
}

.container2 .content_cont2 .text_cont2 {
    width: 445px;
    margin-top: 140px;
    margin-right: 125px;
}

.container2 .content_cont2 .text_cont2_RU {
    margin-top: 110px;
}

.container2 .content_cont2 .text_cont2 h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.container2 .content_cont2 .text_cont2 p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    margin-top: 45px;
}

.container2 .content_cont2 .text_cont2 p a {
    text-decoration: none;
    color: #ed4c5c;
}

.container2 .content_cont2 .text_cont2 p a:hover,
.container2 .content_cont2 .text_cont2 p a:focus,
.container2 .content_cont2 .text_cont2 p a:active {
    border-bottom: 1px solid #ffb9b9;
    color: #ffb9b9;
    font-weight: 700;
}

.container2 .content_cont2 .img_cont2 {
    margin-top: 94px;
    margin-bottom: 94px;
    padding-left: 33px;
}

.container2 .content_cont2 .img_cont2 .video_cont2 {
    position: relative;
}

.container2 .content_cont2 .img_cont2 img {
    max-width: 100%;
}

.container2 .content_cont2 .img_cont2 .btn_play {
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    background: #ed4c5c;
    left: -33px;
    bottom: calc(50% - 33px);
}

.container2 .content_cont2 .img_cont2 .btn_play i {
    font-size: 18px;
    color: white;
}

/* Старт container3 */

.container3 {
    background-color: #fafafa;
}

.container3 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-gap: 30px;
    padding-bottom: 229px;
}

.container3 .content_cont3 h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    padding-top: 63px;
    padding-bottom: 63px;
}

.container3 .content_cont3 .cards .content_card {
    position: relative;
    margin-right: 30px;
}

.container3 .content_cont3 .cards .content_card:last-child {
    margin-right: 0;
}

.container3 .content_cont3 .cards .content_card img {
    max-width: 100%;
}

.container3 .content_cont3 .cards .content_card .wrapper_text_card {
    position: absolute;
    height: 200px;
    width: 83.43%;
    margin-left: calc(50% - 146px);
    margin-top: -95px;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container3 .content_cont3 .cards .content_card .wrapper_text_card .text_card {
    padding-top: 33px;
    padding-left: 32px;
    padding-right: 32px;
}

.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
    padding-top: 20px;
}

.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    .link_cont3 {
    text-align: center;
    padding-top: 20px;
}

.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    .link_cont3
    a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #ed4c5c;
}

/* .container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    .link_cont3
    a:hover,
.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    .link_cont3
    a:focus,
.container3
    .content_cont3
    .cards
    .content_card
    .wrapper_text_card
    .text_card
    .link_cont3
    a:active {
    border-bottom: 1px solid #ffb9b9;
    color: #ffb9b9;
    font-weight: 700;
} */

/* Старт container4 */

.container4 h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    padding-top: 63px;
    padding-bottom: 71px;
}

.container4 .cards_cont4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-gap: 30px;
    padding-bottom: 104px;
}

.container4 .cards_cont4 .content_card_cont4 {
    width: 255px;
    height: 226px;
    position: relative;
}

.container4 .cards_cont4 .content_card_cont4 h3 {
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
}

.container4 .cards_cont4 .content_card_cont4 h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    padding-top: 19px;
}

.container4 .cards_cont4 .content_card_cont4 p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    padding-right: 33px;
    padding-left: 33px;
}

.container4 .cards_cont4 .content_card_cont4 .icon_cont4 img {
    max-width: 100%;
}

.container4 .cards_cont4 .content_card_cont4 .icon_cont4 {
    position: absolute;
    top: 59px;
    margin-left: 88px;
}

.container4 .cards_cont4 .content_card_cont4:nth-child(2) .icon_cont4 {
    top: 65px;
    margin-left: 95px;
}

.container4 .cards_cont4 .content_card_cont4:nth-child(3) .icon_cont4 {
    top: 61px;
    margin-left: 93px;
}

.container4 .cards_cont4 .content_card_cont4:last-child .icon_cont4 {
    top: 71px;
    margin-left: 104px;
}

/* Старт container5 */

.container5 {
    background-color: #ed4c5c;
    color: #ffffff;
}

.container5 .content_cont5 {
    display: flex;
    justify-content: flex-start;
}

.container5 .content_cont5 .text_cont5 {
    width: 445px;
    margin-right: 81px;
}

.container5 .content_cont5 .text_cont5 h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    padding-top: 122px;
}

.container5 .content_cont5 .text_cont5 p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-top: 40px;
}

.container5 .content_cont5 .text_cont5 .icon_shop {
    display: flex;
    justify-content: space-between;
    width: 134px;
    padding-top: 40px;
    padding-bottom: 111px;
}

.container5 .content_cont5 .text_cont5 .icon_shop i {
    font-size: 32px;
}

.container5 .content_cont5 .carousel {
    padding-top: 95px;
    width: 533px;
}

.content_cont5 .owl-item {
    left: 45px;
}

.owl-carousel .shows {
    position: relative;
    max-width: 100% !important;
    height: 267px;
    /* object-fit: cover; */
    padding-top: 22px;
    z-index: 100;
}

.container5
    .content_cont5
    .carousel
    .owl-carousel
    .owl-stage-outer
    .owl-stage
    .owl-item
    .img {
    width: 445px;
}

.container5
    .content_cont5
    .carousel
    .owl-carousel
    .owl-stage-outer
    .owl-stage
    .owl-item
    img {
    max-width: 100%;
}

/* Старт container6 */

.container6 {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.container6 .text_content_cont6 {
    width: 445px;
}

.container6 .text_content_cont6 h2 {
    font-weight: 600;
    font-size: 36px;
    padding-top: 117px;
    padding-bottom: 50px;
}

.container6 .text_content_cont6 p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 1%;
    text-align: justify;
    margin-right: 30px;
}

.container6 .input_cont6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 117px;
    margin-bottom: 78px;
    width: 540px;
}

.container6 .input_cont6 .name {
    display: flex;
    justify-content: space-between;
}

.container6 .input_cont6 .input_firstName,
.container6 .input_cont6 .input_lastName,
.container6 .input_cont6 .input_tel,
.container6 .input_cont6 .select_service {
    width: 50%;
    height: 60px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 24px;
}

.container6 .input_cont6 .input_lastName {
    margin-left: 31px;
}

.container6 .input_cont6 .input_firstName:focus,
.container6 .input_cont6 .input_lastName:focus,
.container6 .input_cont6 .input_tel:focus,
.container6 .input_cont6 .select_service:focus,
.container6 .input_cont6 .btn_submit:focus {
    box-shadow: 0 0 6px 0px rgb(202, 192, 243);
}

.container6 .input_cont6 .input_tel {
    width: calc(100% - 62px);
}

.container6 .input_cont6 .style_select_service .select_service {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

.container6 .input_cont6 .style_select_service {
    background: url(../img/cont6/arrow_select_service.png) no-repeat;
    background-position-x: 94%;
    background-position-y: 35%;
}

.container6 .input_cont6 .btn_submit {
    width: 160px;
    height: 50px;
    background: #ed4c5c;
    border: 1px solid #ed4c5c;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.container6 .input_cont6 .btn_submit:hover,
.container6 .input_cont6 .btn_submit:focus {
    cursor: pointer;
    background: #ff5364;
    border: 1px solid #ff5364;
    color: #ffb9b9;
}

/* Старт container7 */

.container7 {
    background-color: #fafafa;
    color: #101010;
}

.container7 .content_cont7 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 85px;
}

.container7 .content_cont7 .address h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 33px;
}

.container7 .content_cont7 .address address {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 141px;
    font-style: normal;
}

.container7 .content_cont7 .services {
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 125px;
}

.container7 .content_cont7 .services_RU {
    flex-basis: 145px;
}

.container7 .content_cont7 .services h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 33px;
}

.container7 .content_cont7 .services .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container7 .content_cont7 .services .menu ul li {
    cursor: pointer;
}

.container7 .content_cont7 .services .menu ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #101010;
}

.container7 .content_cont7 .services .menu ul li a:hover,
.container7 .content_cont7 .services .menu ul li a:focus,
.container7 .content_cont7 .services .menu ul li a:active {
    font-weight: 700;
    border-bottom: 1px #101010 solid;
}

.container7 .content_cont7 .get_in_touch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
}

.container7 .content_cont7 .get_in_touch .content {
    width: 128px;
}

.container7 .content_cont7 .get_in_touch .content_RU {
    width: 135px;
}

.container7 .content_cont7 .content h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 33px;
}

.container7 .content_cont7 .content a {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #101010;
}
.container7 .content_cont7 .content .email {
    display: inline-block;
    height: 18px;
}

.container7 .content_cont7 .content .phone {
    padding-top: 5px;
    display: inline-block;
}

.container7 .content_cont7 .content .phone_RU {
    padding-top: 0;
}

.container7 .content_cont7 .content .email:hover,
.container7 .content_cont7 .content .email:focus,
.container7 .content_cont7 .content .email:active,
.container7 .content_cont7 .content .phone:hover,
.container7 .content_cont7 .content .phone:focus,
.container7 .content_cont7 .content .phone:active {
    font-weight: 700;
    border-bottom: 1px #101010 solid;
}

.container7 .content_cont7 .icon_messenger {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66px;
}

.container7 .content_cont7 .icon_messenger i {
    font-size: 14px;
}
.container7 .content_cont7 .we_support {
    padding-left: 10px;
}

.container7 .content_cont7 .we_support h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 33px;
}

footer {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 86px;
}
